body {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 40px;
}

h1 {
  color: #d6006e;
}

.gallery img {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  margin: 10px;
  object-fit: cover;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

ul {
  list-style: none;
  font-size: 18px;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #ff4d6d;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
}
.proposal-buttons button {
  margin: 10px;
  font-size: 18px;
}

#noBtn {
  background-color: gray;
}
